modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Push to GitHub"

[[workflows.workflow]]
name = "Push to GitHub"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/push-github.sh"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 20267
externalPort = 3000

[userenv]

[userenv.shared]
DEPLOYER_KEY = "0x97302cdb31f3c50d93ba0ca16db4d3ed5aa46113825a1de6ca82c121a9cbc524"
ARBISCAN_API_KEY = "E91V2IK3VI1V38K8HKUDM6GVHVSX8TF9FR"
